* {
  font-family: 'Press Start 2P', monospace;
  font-weight: 300;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #108db8;
  font-weight: bold;
}

.content {
  padding: 1rem;
}

.text {
  white-space: pre-wrap;
}

.align-left {
  text-align: left;
}
